!!! html5
%html
  %head
    %meta{:charset => "utf-8"}

  %body

    %p
      Thank you for your contribution!

    %p
      You enjoyed the challenge? Don’t hesitate to tell your friends and family about it, maybe they would also like to be a part of Jacob Joins.

    %p
      For further information follow 
      %a{:href => "http://www.facebook.com/jacobjoins"} Jacob Joins on Facebook!
      There you can check out the current state of the project, including some nice pictures.

    %p
      Best wishes, Jacob Joins