%p.no_csi_preview 
  We would love to find out more about country specific traditions and different lifestyles. Maybe you want to answer a few questions about your culinary habits
  = link_to 'here.', "#!/form/country_specific_information_tab"
  Do it!