%h1 COUNTRY SPECIFIC

- if @csi_set.user
  %h2
    = "Author: #{@csi_set.user.formatted_user_info}"

%ul
  - @csi_set.country_specific_informations.where(:answer.ne => "").each do |csi|
    %li
      %h3
        = csi.question
      %p
        = csi.answer