- quantity ||= ""
- ingredient ||= ""
- quantity_placeholder ||= ""
- ingredient_placeholder ||= ""

= form.fields_for :ingredients_with_quantities, data do |ingredients_with_quantity|
  %p.dynamicElement
    = ingredients_with_quantity.text_field :quantity, value:quantity, placeholder:quantity_placeholder
    = ingredients_with_quantity.text_field :name, value:ingredient, placeholder:ingredient_placeholder