- quantity ||= ""
- ingredient ||= ""
- quantity_placeholder ||= ""
- ingredient_placeholder ||= ""

= form.fields_for :ingredients_with_quantities, data do |ingredient_with_quantity|
  %p.dynamicElement
    = ingredient_with_quantity.text_field :quantity, value:quantity, placeholder:quantity_placeholder
    = ingredient_with_quantity.text_field :name, value:ingredient, placeholder:ingredient_placeholder, class:'ingredient_with_quantity_name'