#start
.search
  %h1
    ***SEARCH FOR RECIPE***

    = form_tag recipes_search_path, :method => "post", :remote => true, :form => { "data-type" => "json" }, :id => "ingredients_search_form" do
      = text_field_tag 'ingredients[search]', nil, :id => 'search_field'
      #search_hidden
      = submit_tag "Search", :name => nil 


  %h1
    ***SELECTION***
  #search_selection

  %h1
    ***RESULT***
  #search_result
  = @recipe.inspect if @recipe



