#footer
  #footercontent
    %div.kastlcontent
      .kastl
        = image_tag 'sharing.png', class:"schleife" 

        %p#text_donation
          If the project keeps running until June and it has a chance to be successful, Jacob is going to start a 
          %span donation campaign.
          %br
          %br
          For each uploaded recipe  a predefined amount of money will be transferred from sponsores  to a selected institution.
      
    #footer_information
      %p.likeproject
        You like this project?
        Or have any questions? Feel free to contact us!
     
      
      = link_to "hello@jacobjoins.com", "mailto:hello@jacobjoins.com", class:"mailto"
      

      #subinformation
        %p.fb_like
          = link_to "Join us on Facebook!", "https://www.facebook.com/jacobjoins", class:"fb"

        %p.adresse
          Urstein Süd 1
          %br
          5412 Puch bei Hallein
          %br
          Austria

        = link_to "", "http://www.fh-salzburg.ac.at/", class:"fh_logo"
