#footer
  #footercontent
    #footer_information
      #main_information
        %p.likeproject
          You like this project?
          Or have any questions? Feel free to contact us!
       
        
        = link_to "hello@jacobjoins.com", "mailto:hello@jacobjoins.com", class:"mailto"
        

      #subinformation
        %p.fb_like
          = link_to "Join us on Facebook!", "https://www.facebook.com/jacobjoins", class:"fb"

        %p.adresse
          Urstein Süd 1
          %br
          5412 Puch bei Hallein
          %br
          Austria

        = link_to "", "http://www.fh-salzburg.ac.at/", class:"fh_logo"
