#footer
  .csswinner
    = link_to "Jacob Joins", "http://www.csswinner.com/details/jacob-joins-global-cooking/4565", :target => "_blank"
  #footercontent
    .kastlcontent
      .kastl
        = image_tag 'sharing.png', class:"schleife" 
        
        %p#text_fb
          Stay up to date and check the latest news on Facebook!

        %p.fb_like
          = link_to "Join us on Facebook!", "https://www.facebook.com/jacobjoins", class:"fb", :target => "_blank"

    #footer_information
      #main_information
        %p.likeproject
          You like this project?
          Or have any questions? Feel free to contact us!
       
        
        = link_to "hello@jacobjoins.com", "mailto:hello@jacobjoins.com", class:"mailto"
        

        

        
