.aboutcontent
  #teamvorstellung
    %h1
      It´s a pleasure to introduce you to our 
      %span
        great team! 
    %hr

    #teamfoto
      %ul
        %li#isi
          .member
            %h5
              Ismail Hanli
            %p
              Webdeveloper
        %li#marta
          .member
            %h5
              Marta Janosz
            %p
              Webdeveloper
        %li#alex
          .member
            %h5
              Alexander Flatscher
            %p
              Webdeveloper
        %li#martina
          .member
            %h5
              Martina Edelhofer
            %p
              Webdeveloper
        %li#doris
          .member
            %h5
              Doris Wimmer
            %p
              Webdeveloper
        %li#tina
          .member
            %h5
              Kristina Fallenegger
            %p
              Webdeveloper
        %li#daniel
          .member
            %h5
              Daniel Blaichinger
            %p
              Webdeveloper
        %li#daniela
          .member
            %h5
              Daniela Rieser
            %p
              Webdeveloper

    %p.aboutteam
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

.uebergang5

#projektteile
  %h1
    Here you see project bla bla bla 
    %span
        
  %hr

#footer