- provided = @recipe.present? ? "recipe" : "info"

%h1 Thank you for your post!
%p
  = "Your #{provided} will be shown online on 4th of june together with all the other great #{provided}s from all over the world!"
%p If you would like to receive our special edition recipe-collection feel free to share your email address with Jacob!

