- provided = @recipe.present? ? "recipe" : "info"

%h1 
  Thank you for your 
  %span contribution!

%hr

%p.danke
  Now you also got your personal tag in our 
  = link_to 'map', recipes_path
  among all the other great recipes from all over the world.

%p
  You want to post another recipe? Click
  = link_to 'here', "#!/recipe_tab"  
  to continue!

%p.wichtig You enjoyed the challenge? Don’t hesitate to tell your friends and family about it, maybe they would also like to be a part of Jacob Joins.
