@import "mixins"

#newsbar_new
  height: 280px
  background-image: url(image_path('newsbar_offen_repeat.png'))
  background-position: top center
  background-repeat: repeat-x
  color: #fff
  position: fixed
  width: 100%
  z-index: 20000
  top: -215px
  cursor: pointer

  #newsbar_content
    background-image: url(image_path('newsbar_offen2_.png'))
    background-position: top center
    width: 1000px
    height: 280px
    margin: 0 auto
    overflow: hidden
    cursor: pointer

    #navi_neu
      ul
        width: 1000px
        float: left
        position: relative
        top: -22px

        li
          a
            +navi
            float: left
          a:hover
            color: red

          a.selected
            color: red  
            background-image: url(image_path('underline_haupt.png'))
            background-repeat: no-repeat
            background-position: bottom center

        li#form, #story
          a.selected
            background-image: url(image_path('underline_haupt_lang.png'))
            background-repeat: no-repeat
            background-position: bottom center          

        li#home
          a.selected
            background-image: url(image_path('underline_haupt_kurz.png'))
            background-repeat: no-repeat
            background-position: bottom center 

        #about, #contact
          a.selected   
            background-image: url(image_path('underline_haupt_mittel.png'))
            background-repeat: no-repeat
            background-position: bottom center 

        li#search 
          a.selected   
            background-image: url(image_path('underline_haupt_search.png'))
            background-repeat: no-repeat
            background-position: bottom center 



        #home, #form, #search  
          a
            padding: 0px 22px 5px 22px

        #search
          position: absolute
          bottom: 0

        #form
          position: absolute
          left: 190px
          bottom: 0
        
        #contact
          position: absolute
          right: 0
          margin-right: 0
          bottom: 5px

          a.selected
            padding-bottom: 5px

        #about
          position: absolute
          right: 120px
          bottom: 5px
          
          a.selected
            padding-bottom: 5px

        #story
          position: absolute
          right: 245px
          bottom: 5px

          a.selected
            padding-bottom: 5px

#logo
  clear: both

  img
    display: block
    position: relative
    top: -25px
    margin: 0 auto 0 auto


#formnav
  #yourrecipe
    margin-top: 15px
    margin-bottom: 0px

  #aboutyourcountry
    font-family: "Sanches-Italic"
    text-transform: uppercase
    font-size: 20px
    height: 40px

  #aboutyou
    font-family: "Pacifico"
    font-size: 28px
    margin: 8px 0 10px 0
    line-height: 1.9em
    font-weight: lighter
    height: 30px

  .ui-state-active
    position: relative
    a
      color: #E2001A
      text-decoration: underline

  #general
    margin: 50px auto 0 auto

h1
  line-height: 1.7em
  strong
    padding-bottom: 7px
    margin: -5px 12px 0 0
    line-height: 1.4em

hr
  width: 300px

#csi_information, #content, #prev_recipe, #prev_csi
  h1
    line-height: 1.4em
  hr
    width: 100%

#prev_recipe, #prev_csi
  strong
    margin: -20px 12px 0 0
    padding-bottom: 0px

input, textarea
  background-color: #bda79b
  border: 2px solid #fff
  padding: 5px
  color: #fff
  font-family: "PlutoCondensed"
  font-size: 14px

input
  overflow: hidden

textarea
  overflow: auto

.step_label
  span
    color: #531E09
    font-family: "Sanches-SemiBold"
    font-size: 14px

.ui-autocomplete
  background-color: #ffffff

.wrapper-haupt
  .right-haupt
    //display: inline
    .seitenleiste, .map-overlay
      float: none
      zoom: 1
      display: inline

