@import "mixins"

#newsbar_new
  height: 280px
  background-image: url(image_path('newsbar_offen_repeat.png'))
  background-position: top center
  background-repeat: repeat-x
  color: #fff
  position: fixed
  width: 100%
  z-index: 20000
  top: -215px
  cursor: pointer

  #newsbar_content
    background-image: url(image_path('newsbar_offen2_.png'))
    background-position: top center
    width: 1000px
    height: 280px
    margin: 0 auto
    overflow: hidden
    cursor: pointer

    #navi_neu
      ul
        width: 1000px
        float: left
        position: relative
        top: -22px

        li
          overflow: visible

          a
            +navi
          a:hover
            color: $rot

          a.selected
            color: $rot  
            background-image: url(image_path('underline_haupt.png'))
            background-repeat: no-repeat
            background-position: 0 center
            overflow: visible
            height: 35px
            display: block

        li#form, #story
          a.selected
            background-image: url(image_path('underline_haupt_lang.png'))
            background-repeat: no-repeat
            background-position: 0 center        

        li#home
          a.selected
            background-image: url(image_path('underline_haupt_kurz.png'))
            background-repeat: no-repeat
            background-position: 0 center 
            display: block
            overflow: visible  

        #about, #contact
          a.selected   
            background-image: url(image_path('underline_haupt_mittel.png'))
            background-repeat: no-repeat
            background-position: 0 center 

        li#search 
          a.selected   
            background-image: url(image_path('underline_haupt_search.png'))
            background-repeat: no-repeat
            background-position: 0 center 

        #home, #form, #search, #contact, #about, #story
          top: 0px
          position: absolute

          a.selected
            padding-bottom: 5px

        #home
          left: 0

        #search
          left: 78px

        #form
          left: 190px

        #contact
          right: 0

        #about
          right: 120px

        #story
          right: 245px

#logo
  clear: both

  img
    display: block
    position: relative
    top: -25px
    margin: 0 auto 0 auto


#formnav
  #yourrecipe
    margin-top: 15px
    margin-bottom: 0px

  #aboutyourcountry
    font-family: "Sanches-Italic"
    text-transform: uppercase
    font-size: 20px
    height: 40px

  #aboutyou
    font-family: "Pacifico"
    font-size: 28px
    margin: 8px 0 10px 0
    line-height: 1.9em
    font-weight: lighter
    height: 30px

  .ui-state-active
    position: relative
    a
      color: #E2001A
      text-decoration: underline

  #general
    margin: 50px auto 0 auto

h1
  line-height: 1.7em
  strong
    padding-bottom: 7px
    margin: -5px 12px 0 0
    line-height: 1.4em

hr
  width: 300px

#csi_information, #content, #prev_recipe, #prev_csi
  h1
    line-height: 1.4em
  hr
    width: 100%

#prev_recipe, #prev_csi
  strong
    margin: -20px 12px 0 0
    padding-bottom: 0px

input, textarea
  background-color: #bda79b
  border: 2px solid #fff
  padding: 5px
  color: #fff
  font-family: "PlutoCondensed"
  font-size: 14px

input
  overflow: hidden

textarea
  overflow: auto

#duration
  overflow: hidden
  position: relative

  #duration_label
    float: left

  input
    width: 55px

  p
    width: 58px
    float: right
    text-transform: lowercase
    margin-top: 7px !important
    margin-left: 0
    position: absolute

.step_label
  span
    color: #531E09
    font-family: "Sanches-SemiBold"
    font-size: 14px

.ui-autocomplete
  background-color: #ffffff

.wrapper-haupt
  .right-haupt
    #toggle_sidebar
    .seitenleiste
      margin-left: -8px
      .seitenleistecontent
        em
          font-family: "Pluto-Semibold"
          font-style: normal

.search
  h1
    line-height: 1.4em
  hr
    width: 340px

.aboutcontent
  width: 1000px
  margin: 0 auto
  padding: 100px 20px 50px 20px


  #teamvorstellung
    overflow: hidden

    hr
      width: 1000px 

    #teamfoto
      width: 700px
      height: 490px
      border: 2px solid #fff
      float: left
      margin-top: 20px


      ul
        li
          float: left
          width: 175px
          height: 245px
          margin: 0
          position: relative
          cursor: pointer
          background-image: url(image_path('teamfoto.jpg'))


          .member
            display: none
            width: 165px
            height: 60px
            padding: 10px 5px 0px 5px
            background-color: #fff
            position: absolute
            left: 0
            bottom: 0

            h5
              color: #531E09
              font-family: Sanches-SemiBold
              font-size: 14px
              margin-bottom: 5px
              text-transform: uppercase
              a
                text-decoration: none
                color: #531E09
              a:hover
                color: #E2001A


            p
              font-family: Pluto-CondensedItalic
              font-size: 12px

        li:hover
          .member
            display: block

        #isi
          background-position: 0 0
        #marta
          background-position: -175px 0
        #alex
          background-position: -350px 0
        #martina
          background-position: -525px 0
        #doris
          background-position: 0 -245px
        #tina
          background-position: -175px -245px
        #daniel
          background-position: -350px -245px
        #daniela
          background-position: -525px -245px

    .aboutteam
      position: relative
      float: right
      width: 280px   
      min-height: 490px
      margin-top: 20px

      em
        font-family: "Pluto-Semibold"
        font-style: normal
    
      .aboutteamhint
        font-family: Pluto-CondensedItalic
        font-size: 12px
        position: absolute
        bottom: 0

#projektteile
  hr
    width: 1000px

#projektarbeiten
  li
    margin-bottom: 20px
    em
      font-family: "Pluto-Semibold"
      font-style: normal

.brief
  .projektinfo
    float: left
    width: 446px
    margin-right: 50px
    margin-top: 15px

    h4
      font-family: Sanches-SemiBold
      text-transform: uppercase
      margin-bottom: 10px
      color: #531E09
      font-size: 20px
      padding-top: 10px

  #lightbox_container
    width: 500px
    height: 140px
    overflow: hidden
    text-align: center
    border: 2px solid #fff

#contactcontent
  hr
    width: 1000px

.lightbox_first
  margin: -20%

.map_container
  width: 100%
  height: 100%
  position: fixed

  #map
    height: 100%

  .gmaps4rails_map
    width: 100%
    height: 100%

  .gmnoprint
    span
      font-family: "Pluto-CondensedItalic"
      font-size: 12px
      line-height: 1.4em
      color: #531E09
      background-position: center center

.infoBox
  & > img
    position: absolute !important
    right: 0
    top: 0
    z-index: 2

  & > div
    position: relative
    top: 8px
    border: 2px solid #531E09
    margin-top: 8px
    background: #fff
    padding: 5px
    font-family: "PlutoCondensed"
    font-size: 14px
    line-height: 1.4em
    color: #531E09
    min-width: 330px
    min-height: 70px
    background-position: 0 center

.wrapper-haupt
  .right-haupt
    .map-overlay
      .content
        hr
          width: 600px
        #recipe_information
          padding: 0px 20px
          position: absolute
          right: 0
          width: 170px
          top: 35px
          p
            font-family: "Sanches-SemiBold"
            margin: 0
            text-transform: uppercase
            padding: 5px 0 5px 0

            em
              font-family: "PlutoCondensed"
              text-transform: none
              display: block
              font-style: normal

              span
                color: #531E09
                font-family: "PlutoCondensed"
                font-size: 14px
        #recipe_steps_klein_wrapper
          .recipe_steps_klein
            .numbers
              clear: both
              float: left
              margin-top: -9px
              strong
                float: none
                width: 80px
                text-align: right
                font-size: 50px
                line-height: 1.4em

.jquery-selectbox
  .jquery-selectbox-list
    background-color: white