#newsbar
  height: 280px
  background-image: url("/assets/newsbar_offen_repeat.png")
  background-position: top center
  background-repeat: repeat-x

input, textarea
  background-color: #bda79b
  border: 2px solid #fff
  padding: 5px
  color: #fff
  font-family: "PlutoCondensed"
  font-size: 14px

input
  overflow: hidden

textarea
  overflow: auto
  
h1
  strong
    margin: -10px 12px 0 0

#teamfoto
  width: 700px
  height: 490px
  border: 2px solid #fff
  float: left
  margin-top: 20px


  ul
    li
      float: left
      width: 175px
      height: 245px
      margin: 0
      position: relative
      cursor: pointer
      background-image: url(image_path('teamfoto.jpg'))


      .member
        display: none
        width: 165px
        height: 60px
        padding: 10px 5px 0px 5px
        background-color: #fff
        position: absolute
        left: 0
        bottom: 0

.wrapper-haupt
  .right-haupt
    .seitenleiste
      margin-left: -8px

.jquery-selectbox
  .jquery-selectbox-list
    background-color: white