.aboutcontent
  width: 1000px
  margin: 0 auto
  padding: 100px 20px 50px 20px

  #teamvorstellung
    overflow: hidden

    #teamfoto
      width: 700px
      height: 490px
      border: 2px solid #fff
      float: left
      margin-top: 20px


      ul
        li
          float: left
          width: 175px
          height: 245px
          margin: 0
          position: relative
          cursor: pointer
          background-image: url(image_path('teamfoto.jpg'))


          .member
            display: none
            width: 165px
            height: 60px
            padding: 10px 5px 0px 5px
            background-color: rgba(255,255,255,0.9)
            position: absolute
            left: 0
            bottom: 0

            h5
              color: #531E09
              font-family: Sanches-SemiBold
              font-size: 14px
              margin-bottom: 5px
              text-transform: uppercase

            p
              font-family: Pluto-CondensedItalic
              font-size: 12px

        li:hover
          .member
            display: block

        #isi
          background-position: 0 0
        #marta
          background-position: -175px 0
        #alex
          background-position: -350px 0
        #martina
          background-position: -525px 0
        #doris
          background-position: 0 -245px
        #tina
          background-position: -175px -245px
        #daniel
          background-position: -350px -245px
        #daniela
          background-position: -525px -245px

    .aboutteam
      float: right
      width: 280px   
      margin-top: 20px


#projektteile
  clear: both
  width: 1000px
  margin: 50px auto

.jj-lettering
  display: block
  margin: 20px auto
  border: 2px solid #fff
  width: 1000px

#projektarbeiten
  li
    margin-bottom: 20px

.brief
  .projektinfo
    float: left
    width: 446px
    margin-right: 50px

    h4
      font-family: Sanches-SemiBold
      text-transform: uppercase
      margin-bottom: 5px
      color: #531E09
      font-size: 14px
      padding-top: 10px

  #lightbox_container
    width: 500px
    height: 140px
    overflow: hidden
    text-align: center
    border: 2px solid #fff

.lightbox_first
  margin: -50%

.uebergang4
  background-image: url(image_path('pattern_uebergang4.png'))
  background-repeat: repeat-x
  height: 35px

.uebergang5
  background-image: url(image_path('pattern_uebergang5.png'))
  background-repeat: repeat-x
  height: 35px
