// Place all the styles related to the CountrySpecificInformations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#country_specific_information_tab
  margin-left: 210px

  #csi_slider
    li
      width: 500px
      height: 100px
