#error_explanation 
  width: 400px
  border: 1px solid red
  padding: 7px
  padding-bottom: 10px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2 
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    background-color: #c00
    color: #fff
  p 
    color: #333
    margin-bottom: 0
    padding: 5px
  ul li
    font-size: 12px
    list-style: square

.flash_error

.error
  border: 2px solid #E2001A
  float: none

#male_link, #female_link
  .error
    border: none
    outline: 2px solid #E2001A

label.error
  border: none
  font-family: "Pluto-CondensedItalic" !important
  font-size: 12px
  color: #E2001A
  float: none

.ui-tooltip-default.validation .ui-tooltip-titlebar, .ui-tooltip-default.validation .ui-tooltip-content
  width: 90px
  height: 40px
  background-image: url("error_bubble.png")
  background-repeat: no-repeat
  background-position: 0 0
  padding: 6px 5px 4px 5px
  text-align: center
  font-family: "Pluto"
  font-size: 10px
  color: #E2001A

.form_valid
  background-image: url("finished_form_tmp.png")
  background-repeat: no-repeat
  background-position: 98% 100%

.form_not_valid
  background-image: url("edit_form_tmp.png")
  background-repeat: no-repeat
  background-position: 95% 50%

.ui-state-default, .ui-corner-top
  min-height: 30px