@import "compass/css3/opacity"

#clickandsee
  top: 270px
  position: relative
  a
    display: block
    height: 85px
    background-image: url(image_path('clickandsee.png'))
    background-repeat: no-repeat
    background-position: center center
    cursor: pointer

    &:hover
      background-image: url(image_path('clickandsee_hover.png'))
      background-repeat: no-repeat
      background-position: center center

#wizard
  width: 1000px
  margin: 40px auto
  position: relative
  padding: 5px

  p
    margin: 20px 0px

=input-placeholder
  color: #fff

#wizard input
  &:-moz-placeholder
    +input-placeholder

  &::-webkit-input-placeholder
    +input-placeholder

  &.placeholder
    +input-placeholder

textarea:focus, input:focus
  outline: 0px

.ui-tabs
  .ui-tabs-hide
    display: none
