@import "compass/css3/opacity"

=input-placeholder
  color: red

#wizard input
  &:-moz-placeholder
    +input-placeholder

  &::-webkit-input-placeholder
    +input-placeholder

  &.placeholder
    +input-placeholder


#user_gender
  display: none

#heard_from_other
  display: none

.ui-tabs
  .ui-tabs-hide
    display: none

.steps
  .step
    .upload_wrapper
      background: red
      width: 150px
      overflow: hidden
      position: relative
      text-align: center

      span
        line-height: 1.5em

      input
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        font-size: 20px
        @include opacity(0)