body
  height: 100%

#newsbar
  height: 280px
  background-image: url(image_path('newsbar_offen.png'))
  background-position: top center
  overflow: hidden
  color: #fff

#newsbar h1
  display: none

#countdown
  display: none

#last_entry
  float: left

#fancy_counter
  float: left
  margin-left: 20px

#logo
  clear: both
  margin: 15px 0 5px 0

#logo img
  display: block
  margin: 0 auto 0 auto
