@import compass/reset
@import compass/css3/font-face
@import mixins


 
+font-face("Sanches-Italic", font-files("Sanches/203126_0_0.ttf", "Sanches/203126_0_0.woff"), "Sanches/203126_0_0.eot")
+font-face("Sanches-SemiBold", font-files("Sanches/203126_2_0.ttf", "Sanches/203126_2_0.woff"),"Sanches/203126_2_0.eot")
+font-face("Sanches-Bold", font-files("Sanches/203126_1_0.ttf", "Sanches/203126_1_0.woff"),"Sanches/203126_1_0.eot")
+font-face("Pacifico", font-files("Pacifico/Pacifico-webfont.ttf", "Pacifico/Pacifico-webfont.woff"), "Pacifico/Pacifico-webfont.eot")
+font-face("PlutoCondensed", font-files("Pluto/203124_2_0.ttf", "Pluto/203124_2_0.woff"), "Pluto/203124_2_0.eot")
+font-face("Pluto-LightCondensed", font-files("Pluto/203124_4_0.ttf", "Pluto/203124_4_0.woff"), "Pluto/203124_4_0.eot")
+font-face("Pluto-Light", font-files("Pluto/203124_B_0.ttf", "Pluto/203124_B_0.woff"), "Pluto/203124_B_0.eot")
+font-face("Pluto", font-files("Pluto/203124_A_0.ttf", "Pluto/203124_A_0.woff"), "Pluto/203124_A_0.eot")
+font-face("Pluto-CondensedItalic", font-files("Pluto-Italic/203125_9_0.ttf", "Pluto-Italic/203125_9_0.woff"), "Pluto-Italic/203125_9_0.eot")
+font-face("Pluto", font-files("Pluto/203124_A_0.ttf", "Pluto/203124_A_0.woff"), "Pluto/203124_A_0.eot")
+font-face("Pluto-Heavy", font-files("Pluto/203124_D_0.ttf", "Pluto/203124_D_0.woff"), "Pluto/203124_D_0.eot")
+font-face("Pluto-HeavyCondensed", font-files("Pluto/203124_5_0.ttf", "Pluto/203124_5_0.woff"), "Pluto/203124_5_0.eot")
+font-face("Pluto-LightItalic", font-files("Pluto-Italic/203125_1_0.ttf", "Pluto-Italic/203125_1_0.woff"), "Pluto-Italic/203125_1_0.eot")

body
  height: 100%
  color: #531E09
  background-image: url(image_path('bg4.jpg'))
  font-weight: normal
  p
    font-family: "PlutoCondensed"
    font-size: 14px
    line-height: 1.4em

#newsbar
  height: 280px
  background-image: url(image_path('newsbar_offen2.png')), url(image_path('newsbar_offen_repeat.png'))
  background-position: top center, top center
  background-repeat: no-repeat, repeat-x
  color: #fff
  position: fixed
  width: 100%
  z-index: 20000
  top: -215px
  cursor: pointer

  #newsbar_content
    width: 1000px
    margin: 0 auto
    overflow: hidden
    h1
      display: none

    h2
      font-family: "Sanches-Italic"
      font-size: 20px
      overflow: visible

    #fb, #entries
      float: left
      width: 255px
      margin: 20px 10px 20px 0px

    #fb
      height: 190px
      overflow: auto

      h2
        margin-top: 1px

      .post
        overflow: hidden
        margin: 10px 0px
        padding-top: 5px

        img
          width: 50px
          height: 50px
          margin-right: 10px
          float: left

        h5
          font-family: "Sanches-SemiBold"
          margin-bottom: 5px
          font-size: 14px

        .message
          font-size: 12px

        .time
          font-size: 10px
          font-family: "Pluto-LightCondensed"
          margin-top: 5px

    #entries


    #last_entry


    #fancy_counter
      float: right
      margin: 20px 0
      height: 190px

      h2
        margin-left: 15px

      .text
        position: absolute
        bottom: 0
        font-family: "Pluto-CondensedItalic"
        width: 100px
        text-align: center

      .display
        font-family: "Sanches-Bold"

    #countdown
      position: absolute
      bottom: 35px
      right: 15px
      font-family: "Sanches-Semibold"

      #days, #hours, #minutes, #seconds
        float: left
        margin-right: 5px

  #logo
    clear: both
    position: absolute
    bottom: 30px
    left: 46%

    img
      display: block
      margin: 0 auto 0 auto


#start
  background-image: url(image_path('pattern1.png'))
  background-repeat: repeat-x
  #story_0
    width: 1024px
    min-height: 640px
    margin: 45px auto 0 auto
    background-image: url(image_path('kuvert_bg.png'))
    background-repeat: no-repeat
    background-position: 0 center
    text-align: center
    
    #Logo_start
      width: 654px
      margin: 60px 185px 0 185px

    #Bildzeichen_Screen
      margin: 60px 430px 0 430px

    h3
      font-family: "Sanches-Bold"
      text-transform: uppercase
      font-size: 40px
      margin: 20px 0 0 0

    .scroll
      color: #E2001A
      text-transform: none
      font-family: "Pacifico"
      font-size: 26px
      font-weight: normal

      img
        display: block
        margin: 5px auto

    a
      display: block
      margin-top: 15px
      text-transform: uppercase
      font-family: "Pluto-CondensedItalic"
      text-decoration: none
      color: #531E09

    a:hover
      color: #E2001A

#text_1, #text_2, #text_3, #text_4, #text_5
  margin: auto
  width: 1024px
  padding: 50px 0


#story_1, #story_2, #story_3, #story_4, #story_5
  min-height: 700px

.uebergang
  background-image: url(image_path('pattern_uebergang1.jpg'))
  background-repeat: repeat-x
  height: 116px


.uebergang2
  background-image: url(image_path('pattern_uebergang2.jpg'))
  background-repeat: repeat-x
  height: 140px

.mitte_bildzeichen
  margin: auto  
  display: block


#story_2, #story_5
  background-image: url(image_path('pattern2.jpg'))

#story_3
  background-image: url(image_path('pattern.jpg'))



#footer
  background-image: url("footer_bg.png")
  background-repeat: repeat
  height: 334px
  position: relative
  bottom: 0
  clear: both

.kastl
  text-align: center
  clear: both
  background-color: #FFF4E0
  width: 202px
  margin: auto
  padding: 0px 0 20px 0
  top: 20px
  position: relative
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5)
  z-index: 1


.know
  font-size: 15px
  font-family: Pluto-CondensedItalic
  padding-bottom: 5px
  text-transform: uppercase

.year
  text-align: center

#bildzeichen_footer
  padding: 0 0 20px 0

.schleife
  width: 270px
  display: block
  margin: auto
  top: -10px
  z-index: 2  
  position: relative
  left: -34px

.likeproject
  font-size: 20px  
  line-height: 1.3
  margin-bottom: 15px

.mailto
  color: #E2001A  
  font-family: Pluto-CondensedItalic
  font-size: 15px

.year
  text-transform: uppercase
  font-size: 12px  

.welcome1
  +weiß-shadow-welcome(Pacifico, 90pt)
  width: 500px
  display: inline

.welcome11
  font-family: Pluto-HeavyCondensed
  text-transform: uppercase
  display: inline
  font-size: 30pt  
  color: #E2001A
 
.welcome2
  +weiß-shadow-welcome(Pluto-LightItalic, 29pt)

.welcome4
  +letterpress-rot-welcome(Sanches-Bold, 91pt)

.welcome5
  +weiß-shadow-welcome(Pluto, 45pt)
  text-transform: uppercase
  letter-spacing: 13px

.welcome6
  +letterpress-braun-welcome(Sanches-Bold, 94pt)

.idea1
  +weiß-shadow-idea(Pacifico, 62pt)
  width: 600px
  display: inline

.idea11  
  +letterpress-rot-idea(Pluto-HeavyCondensed, 30pt)
  text-transform: uppercase
  display: inline

.idea2
  +weiß-shadow-idea(Pluto-LightItalic, 34pt)
  padding-top: 10px

.idea3
  +letterpress-rot-idea(Sanches-Bold, 45pt)  

.idea4
  +weiß-shadow-idea(Pluto, 25pt)
  text-transform: uppercase
  letter-spacing: 13px
  padding-top: 20px

.idea5
  +letterpress-braun-idea(Sanches-Bold, 80pt)  


.intention1
  +letterpress-braun-intention(Pacifico, 82pt)  

.intention2
  +weiß-shadow-intention(Pluto-LightItalic, 27pt)
.intention5
  +weiß-shadow-intention(Pluto-LightItalic, 27pt)
  padding-top: 15px

.intention55
  +weiß-shadow-intention(Pluto-LightItalic, 27pt)
  letter-spacing: 1px

.intention22
  +weiß-shadow-intention(Pluto-LightItalic, 27pt)
  letter-spacing: 1px


.intention3
  +letterpress-braun-intention(Sanches-Bold, 73pt)   

.intention4
  +letterpress-rot-intention(Pluto, 26pt)
  text-transform: uppercase
  letter-spacing: 8px  

.intention6
  +letterpress-braun-intention(Sanches-Bold, 56pt)  

.join1
  +weiß-shadow-idea(Pacifico, 63pt)

.join2
  +weiß-shadow-idea(Pluto-LightItalic, 28pt)
  padding-top: 20px  

.join3  
  +weiß-shadow-idea(Pluto-LightItalic, 28pt)
  width: 400px
  display: inline

.join33
  +letterpress-braun-idea(Pluto-HeavyCondensed, 41pt)
  text-transform: uppercase
  display: inline  
  letter-spacing: 5px
  padding-left: 10px

.join4
  +letterpress-rot-idea(Pluto, 24pt)
  text-transform: uppercase
  letter-spacing: 13px  
  padding-top: 15px

.join5
  +letterpress-braun-idea(Sanches-Bold, 76pt)  

.share
  +weiß-shadow-welcome(Pluto-Heavy, 42pt)
  text-transform: uppercase
  text-align: center

.share2  
  +letterpress-rot-share(Pluto-Heavy, 20pt)
  text-align: center
  text-transform: uppercase

.sharing1
  +weiß-shadow-idea(Pacifico, 50pt)
  width: 400px
  display: inline

.sharing11  
  +letterpress-rot-idea(Pluto-HeavyCondensed, 23pt)
  text-transform: uppercase
  display: inline
  letter-spacing: 1px

.sharing2
  +weiß-shadow-idea(Pluto-LightItalic, 32pt)

.sharing3
  +letterpress-rot-idea(Sanches-Bold, 63pt)

.sharing4
  +weiß-shadow-idea(Pluto, 33pt) 
  text-transform: uppercase
  letter-spacing: 13px

.sharing44
  +weiß-shadow-idea(Pluto-LightItalic, 36pt)  

.sharing5
  +letterpress-braun-idea(Sanches-Bold, 65pt)

.stories
  margin: auto  


