body
  height: 100%
  color: #531E09

#newsbar
  height: 280px
  background-image: url(image_path('newsbar_offen.png'))
  background-position: top center
  overflow: hidden
  color: #fff
  position: relative

#newsbar h1
  display: none

#fb, #entries
  float: left
  margin: 20px 10px

#fb
  outline: 1px solid #fff

#entries
  outline: 1px solid yellow

#last_entry


#fancy_counter
  float: right
  margin: 20px 10px
  outline: 1px solid blue

#countdown
  position: absolute
  bottom: 40px
  right: 15px
  outline: 1px solid green

#days, #hours, #minutes, #seconds
  float: left
  margin-right: 5px

#logo
  clear: both
  position: absolute
  bottom: 30px
  left: 45%
  outline: 1px solid orange

#logo img
  display: block
  margin: 0 auto 0 auto
