.map_container
  width: 100%
  height: 100%
  position: fixed

  #map
    height: 100%

  .gmaps4rails_map
    width: 100%
    height: 100%

  .gmnoprint
    span
      font-family: "Pluto-CondensedItalic"
      font-size: 12px
      line-height: 1.4em
      color: #531E09
      background-position: center center

  .yellow
    border: 2px solid #531E09
    margin-top: 8px
    background: #fff
    padding: 5px
    font-family: "PlutoCondensed"
    font-size: 14px
    line-height: 1.4em
    color: #531E09
    min-width: 330px
    min-height: 70px
    background-position: 0 center

    .infobox_image
      width: 60px
      height: 80px
      float: left
      margin: 5px 12px 0 5px
      img
        width: 60px
        height: 60px
    .infobox_recipe
      a
        font-family: "Pluto-SemiBold"
        font-size: 14px
        line-height: 1.4em
        color: #531E09

        &:hover
          color: #E2001A

    .infobox_author
      em
        color: #E2001A

    .infobox_duration
      font-family: Pluto-CondensedItalic
      font-size: 12px
