@import mixins

body  
  position: relative
  z-index: 1

#map
  padding: 0
  margin: 0

.wrapper-haupt
  width: 100%
  position: relative
  padding-top: 45px
  overflow-x: hidden

  .right-haupt
    position: relative
    float: right
    right: 0px

    #toggle_sidebar
      display: none
      position: absolute
      z-index: 1
      top: 220px
      left: -22px
      width: 40px
      height: 40px
      background-image: url(image_path('map_btn_.jpg'))
      background-position: 0 0
      cursor: pointer

      &.closed
        background-position: 0 -40px

    .seitenleiste
      float: right
      background-image: url(image_path('seitenleiste_bg.png'))
      background-repeat: repeat-y
      width: 405px
      //overflow-y: hidden
      position: relative
      margin-right: -5px


      .seitenleistecontent
        padding: 45px 0 0 30px

        p
          padding: 0 5px
          word-wrap: break-word

        em
          font-family: "Pluto-Semibold"

        img
          display: block
          margin: 0px auto 20px auto

        #jacob-who
          text-align: center
          margin: 20px auto 25px auto

          #Bildzeichen_Screen-haupt
            witdh: 100px
            height: 74px
            text-align: center

          h3
            a.who
              text-transform: uppercase
              overflow: visible
              font-family: Sanches-SemiBold
              color: #531E09
              text-shadow: 0 -2px 0 #000000, 0 1px 0px #fff 
              font-size: 24px
              text-decoration: none

      a
        display: block
        text-transform: uppercase
        font-family: "Pluto-CondensedItalic"
        color: #E2001A
        font-size: 14px

      .postedrecipe, .postedcsi
        overflow: hidden
        margin-top: 15px

        .infoleft
          width: 60px
          float: left
          margin: 0 10px 0 0
          #recipemarker_bsp, #sammelmarker_bsp
            width: 60px

        .inforight
          float: right
          width: 270px
          margin: -5px 15px 0 0
          p
            margin-bottom: 15px
            padding-left: 0

        h4
          font-family: Sanches-SemiBold
          text-transform: uppercase
          margin-bottom: 5px
          color: #531E09
          font-size: 14px
          margin-top: 15px

      p.gotoform
        text-align: center
        margin-top: 30px 
