@mixin letterpress-braun-welcome ($font, $size)
  text-shadow: 0 -2px 1px #531E09, 0 2px 1px white
  font-family: $font
  color: #7C6259  
  font-size: $size

@mixin weiß-shadow-welcome ($font, $size)
  font-family: $font
  font-size: $size
  text-shadow: 0 2px 0 white

@mixin letterpress-rot-welcome ($font, $size)
  text-shadow: 0 -2px 1px #531E09, 0 2px 1px white
  font-family: $font
  color: #E2001A  
  font-size: $size 


@mixin letterpress-braun-idea ($font, $size)
  text-shadow: 0 -2px 1px #531E09, 0 2px 1px #EFD8BB
  font-family: $font
  color: #7C6259  
  font-size: $size

@mixin weiß-shadow-idea ($font, $size)
  font-family: $font
  font-size: $size
  text-shadow: 0 1px 0 #EFD8BB

@mixin letterpress-rot-idea ($font, $size)
  text-shadow: 0 -2px 1px #531E09, 0 2px 1px #EFD8BB
  font-family: $font
  color: #E2001A  
  font-size: $size 


@mixin letterpress-braun-intention ($font, $size)
  text-shadow: 0 -2px 1px #531E09, 0 1px 1px #EFD8BB
  font-family: $font
  color: #EFD8BB 
  font-size: $size

@mixin weiß-shadow-intention ($font, $size)
  font-family: $font
  color: #D4AB71
  font-size: $size
  text-shadow: 0 -1px 1px #000

@mixin letterpress-rot-intention ($font, $size)
  text-shadow: 0 -2px 1px #531E09, 0 1px 1px #A0794E
  font-family: $font
  color: #E2001A  
  font-size: $size   

@mixin letterpress-rot-share ($font, $size)
  text-shadow: 0 -1px 1px #531E09, 0 1px 1px white
  font-family: $font
  color: #E2001A  
  font-size: $size   
