@import mixins

.wrapper-haupt_recipe
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 2
  width: 100%
  height: 100%  

  .seitenleiste
    padding: 80px 0

  .left-haupt_recipe
    width: 67%
    min-width: 624px

    .content
      width: 600px
      margin: 0 auto
      padding-top: 100px

      .bx-wrapper
        .bx-next
          right: 16px
          z-index: 100
          top: 120px
        .bx-prev  
          left: 16px
          z-index: 101
          top: 120px



      #recipe_ingredients_content
        padding-top: 50px
        table
          tr
            td
              font-family: "PlutoCondensed"
              width: 100px
              font-size: 14px
            .declaration
              font-family: "PlutoCondensed"
              width: 300px
              font-size: 14px


      p
        em
          color: $rot

      .recipe_imagesteps
        text-align: center
        li
          padding-bottom: 20px

        img
          border: 2px solid white
          text-align: center
        p
          text-align: center

      h1
        margin-bottom: 20px

      p
        padding-bottom: 10px
      #recipe_steps_klein_wrapper
        margin-top: 70px
        .recipe_steps_klein
          padding-bottom: 20px
          overflow: hidden

          .numbers
            clear: both
            strong
              width: 80px
              text-align: right
              padding-top: 3px
              font-size: 50px
          .bild
            float: left
            padding-left: 20px
            border-left: 1px solid $braun
            box-shadow: -1px 0px 0px 0px white            
            img
              width: 100px
              height: 100px
              border: solid 2px white

          .recipe_steps_klein_beschreibung
            float: right
            width: 370px


  .right-haupt
    width: 400px
    height: 100%
    z-index: 20
    position: absolute
    top: 0
    right: 0
    padding-right: 10px

    .uebergang-seitenleiste
      background-image: url(image_path('seitenleiste_uebergang.png'))
      background-repeat: repeat-y
      background-position: 0 0
      min-height: 100%

    .seitenleiste
      max-width: 92%
      margin-left: 30px
      background-image: url(image_path('bg4.jpg'))

      p
        padding: 0 5px
        word-wrap: break-word

      em
        font-family: "Pluto-Semibold"

      img
        display: block
        margin: 20px auto
  