@import mixins

.map-overlay
  width: auto
  background: url(image_path('bg4.jpg'))
  padding: 0 20px
  margin-right: 392px
  position: relative
  right: 0

  @media screen and (min-width: 1400px)
    width: 624px
    float: right
    margin-right: -8px

  + #toggle_sidebar
    display: none !important

  a.close-recipe
    overflow: hidden
    text-indent: -1000px
    background-position: 0 0

    &.right
      position: absolute
      top: 20px
      right: 20px
      width: 70px
      height: 20px
      background-image: url(image_path('close.png'))
      
      &:hover
        background-position: 0 -20px

    &.left
      display: none !important

      @media screen and (min-width: 1400px)
        display: block !important
        position: fixed
        right: 1040px
        width: 40px
        height: 40px
        background-image: url(image_path('map_btn_.jpg'))


  .content
    width: 600px
    margin: 0 auto
    padding-top: 100px

    h1
      line-height: 1.4em

    h2
      font-size: 20px
      font-family: "Sanches-SemiBold"
      font-weight: normal
      color: #531E09
      text-transform: uppercase
      text-shadow: 1px 1px 0px #FFFFFF
      margin-bottom: 20px
      padding-top: 3px  

    #recipe_information_content
      position: relative
    #recipe_information
      padding: 0px 20px
      position: absolute
      right: 0
      width: 170px
      top: 35px
      p
        font-family: "Sanches-SemiBold"
        margin: 0
        text-transform: uppercase
        padding: 5px 0 5px 0

        em
          font-family: "PlutoCondensed"
          text-transform: none
          display: block

          span
            color: $braun
            font-family: "PlutoCondensed"
            font-size: 14px


    #recipe_ingredients_content
      padding-top: 50px
      width: 340px
      table
        tr
          td
            font-family: "Pluto-SemiBold"
            width: 112px
            font-size: 14px
            line-height: 1.4em
            text-align: right
            padding-right: 8px
            padding-bottom: 10px
            vertical-align: top
          .declaration
            font-family: "PlutoCondensed"
            width: 300px
            font-size: 14px
            text-align: left
    p
      em
        color: $rot

    .bx-wrapper
      margin-top: 20px
      
      .bx-pager
        text-align: center
        margin-top: 10px

        a
          background-image: url(image_path('bx_pager.png'))
          background-position: 0 0
          width: 15px
          height: 15px
          display: inline-block
          text-indent: -1000px
          overflow: hidden
          margin: 0 2px

          &.pager-active, &:hover
            background-position: 0 -15px

      .bx-window
        height: auto 
        .recipe_images
          text-align: center

          li
            width: 100%

            img
              border: 2px solid white
              text-align: center
              width: auto
              height: auto
              max-height: 500px


    h1
      margin-bottom: 20px

    p
      padding-bottom: 10px
    #recipe_steps_klein_wrapper
      margin-top: 70px
      padding-bottom: 70px

      .recipe_steps_klein
        padding-bottom: 20px
        overflow: hidden
        min-height: 80px

        .numbers
          clear: both
          float: left
          margin-top: 7px
          strong
            float: none
            width: 80px
            text-align: right
            padding-top: 3px
            font-size: 50px

        .recipe_steps_container
          padding-left: 20px
          border-left: 1px solid $braun
          box-shadow: -1px 0px 0px 0px white
          float: left  
          min-height: 40px       

          .bild
            float: left
            img
              width: 100px
              height: 100px
              border: solid 2px white

          .recipe_steps_klein_beschreibung
            width: 360px
            float: right
            padding-left: 10px

        &.no-image
          .recipe_steps_container
            .recipe_steps_klein_beschreibung
              width: 480px
              padding-left: 0
