@import mixins

.map-overlay
  width: auto
  background: url(image_path('bg4.jpg'))
  padding: 0 20px
  margin-right: 392px
  position: relative

  @media screen and (min-width: 1400px)
    width: 624px
    float: right
    margin-right: -8px

  + #toggle_sidebar
    display: none !important

  a.close-recipe
    overflow: hidden
    text-indent: -1000px
    background-position: 0 0

    &.right
      position: absolute
      top: 20px
      right: 20px
      width: 70px
      height: 20px
      background-image: url(image_path('close.png'))
      
      &:hover
        background-position: 0 -20px

    &.left
      position: fixed
      right: 1040px
      width: 40px
      height: 40px
      background-image: url(image_path('map_btn_.jpg'))

      @media screen and (max-width: 1400px)
        display: none !important


  .content
    width: 600px
    margin: 0 auto
    padding-top: 100px

    h1
      line-height: 1.4em

    #recipe_ingredients_content
      padding-top: 50px
      table
        tr
          td
            font-family: "PlutoCondensed"
            width: 112px
            font-size: 14px
            line-height: 1.4em
          .declaration
            font-family: "PlutoCondensed"
            width: 300px
            font-size: 14px
    p
      em
        color: $rot

    .bx-wrapper
      margin-top: 20px
      
      .bx-pager
        text-align: center
        margin-top: 10px

        a
          background-image: url(image_path('bx_pager.png'))
          background-position: 0 0
          width: 15px
          height: 15px
          display: inline-block
          text-indent: -1000px
          overflow: hidden
          margin: 0 2px

          &.pager-active, &:hover
            background-position: 0 -15px

      .bx-window
        height: auto 
        .recipe_images
          text-align: center

          li
            width: 100%

            img
              border: 2px solid white
              text-align: center
              width: auto
              height: auto
              max-height: 500px


    h1
      margin-bottom: 20px

    p
      padding-bottom: 10px
    #recipe_steps_klein_wrapper
      margin-top: 70px
      .recipe_steps_klein
        padding-bottom: 20px
        overflow: hidden

        .numbers
          clear: both
          float: left
          strong
            float: none
            width: 80px
            text-align: right
            padding-top: 3px
            font-size: 50px

        .recipe_steps_container
          padding-left: 20px
          border-left: 1px solid $braun
          box-shadow: -1px 0px 0px 0px white
          float: left         

          .bild
            float: left
            img
              width: 100px
              height: 100px
              border: solid 2px white

          .recipe_steps_klein_beschreibung
            width: 360px
            float: right
            padding-left: 10px

        &.no-image
          .recipe_steps_container
            .recipe_steps_klein_beschreibung
              width: 480px
              padding-left: 0
