@import "compass/reset"

body
  background-image: url(image_path('bg.png'))

#newsbar
  
#formular
  max-width: 960px
  min-width: 600px
  margin: 50px auto
  border: solid red 1px
  position: relative
  overflow: hidden

h1
  margin: 0
  font-size: 24px
  font-weight: bold

#left
  float: left
  width: 50%
  overflow: hidden

#formnav
  float: left
  width: 15%
  a
    background-color: #ccc
    display: block
    height: 20px
    padding: 15px

#formnav a.current
  background-color: yellow

#new_recipe, .edit_recipe, #new_user, .edit_user, #preview 
  width: 85%
  margin-left: 15%

#information
  background-color: #efefef
  padding: 15px

#ingredients
  background-color: #ccc
  padding: 15px
 
#preparation
  background-color: #666
  width: 46%
  float: right
  padding: 2%

#buttons
  background-color: #888
  clear: both
  overflow: hidden
  input, div, a
    float: left

.active 
  background-color: red !important

label
  display: block

#information_user
  padding: 15px
  background-color: #ccc

#user_data
  padding: 15px
  background-color: #999

