#user_gender
  visibility: hidden
  display: block

#user_heard_from
  font-family: "Pluto"
  background-color: #DDD2C6
  color: #531E09
  width: 150px
  height: 26px
  border: 2px solid #fff
  outline: 0px

#heard_from_other
  display: none
  margin-top: 5px

#vorname
  display: block

.tellus

.address-search
  width: 300px

.map
  width: 220px
  height: 220px
  border: 2px solid white
  margin-top: -10px

  span, strong
    color: inherit
    font-size: inherit
    font-family: inherit
    text-transform: inherit
    display: inline

#content
  padding: 37.5px
  margin-left: 5px
  overflow: hidden  

#user_tab label
  font-family: Sanches-SemiBold
  text-transform: uppercase
  font-weight: normal
  letter-spacing: 0px
  font-size: 12pt
  margin-bottom: 5px

.links
  width: 300px
  float: left
  padding-left: 30px

.links 
  p
    textarea
      width: 70% !important

.youremailmargin
  margin-bottom: 10px !important

.rechts
  width: 300px
  float: right
  padding-right: 30px

#user_age
  width: 30px

.einzug
  width: 100%
  float: left
  height: 80px
  padding-left: 30px
  clear: both

.email
  font-size: 12px
  font-family: Pluto-CondensedItalic
  padding-bottom: 5px

.user_form input
  width: 70%

p.genderage1
  width: 100px
  float: left 

p.genderage2
  width: 200px
  float: right
