@import "mixins"

#user_gender
  visibility: hidden
  display: block

#user_heard_from
  background-color: rgba(255,255,255,0.8)
  color: #531E09
  font-family: "Pluto"
  font-size: 12px
  border-width: 0 2px 2px 2px
  border-style: solid 
  border-color: #531E09
  width: 222px
  height: 26px
  outline: 0px

#user_heard_from
  select:hover
    background-color: yellow

#heard_from_other
  display: none
  margin-top: 5px

.customStyleSelectBox
  width: 222px
  height: 30px
  background: url(image_path("select_bg.jpg")) no-repeat
  font-family: "PlutoCondensed"
  color: #531E09 !important
  font-size: 14px
  line-height: 1.4em

.customStyleSelectBox.changed
/* You can use this if you want a different style after user has made a selection */


/* on the next line we add a down arrow on the right to indicate that it is a select box */
.customStyleSelectBoxInner
  width: 217px
  height: 30px
  background: url(image_path("select.png")) no-repeat 
  background-position: right 0
  font-family: "PlutoCondensed"
  color: #531E09 !important
  font-size: 14px
  font-weight: normal
  line-height: 1.4em
  padding: 4px 0 0 5px
  vertical-align: middle

.customStyleSelectBoxInner:hover
  background-position: right -30px

.first_select
  color: #bda79b
  font-family: Pluto-CondensedItalic

.first_select:hover
  background-color: yellow

#vorname
  display: block

.tellus

.address-search
  width: 300px

.map
  width: 220px
  height: 220px
  border: 2px solid white
  margin-top: -10px

  span, strong
    color: inherit
    font-size: inherit
    font-family: inherit
    text-transform: inherit
    display: inline

#content
  padding: 37.5px
  overflow: hidden  

#user_tab label
  font-family: Sanches-SemiBold
  text-transform: uppercase
  font-weight: normal
  letter-spacing: 0px
  font-size: 14px
  margin-bottom: 5px

.wichtig
  font-weight: normal
  color: #E2001A
  font-family: "Sanches-SemiBold"
  text-transform: uppercase

.links
  width: 300px
  float: left
  padding-left: 30px

  p
    textarea
      width: 70% !important

.youremailmargin
  margin-bottom: 10px !important

.rechts
  width: 300px
  float: right
  padding-right: 30px

#user_age
  width: 30px

.einzug
  width: 100%
  float: left
  height: 80px
  padding-left: 30px
  clear: both

.email
  font-size: 12px
  font-family: Pluto-CondensedItalic
  padding-bottom: 5px

.user_form input
  width: 70%

.genderage1
  width: 100px
  float: left 

.genderage2
  width: 200px
  float: right

#gendericons
  width: 60px
  padding: 3px 3px 0

  #male_link
    background: url(image_path("male.png")) no-repeat

  #female_link
    background: url(image_path("female.png")) no-repeat
    margin-top: -63px
    margin-left: 29px

  #male_link, #female_link
    width: 27px
    height: 63px
    display: block

  #male_link:hover, #female_link:hover
    background-position: 0px -63px


//AUTOSUGGEST Zutaten + google map ================================================================

.pac-container, .ui-autocomplete
  background-color: #fff
  background-color: rgba(255,255,255,0.8)
  color: #531E09
  font-family: "Pluto"
  font-size: 12px
  border-width: 0 2px 2px 2px
  border-style: solid 
  border-color: #531E09

.pac-container
  .pac-item
    padding: 5px 0 5px 5px

    &:hover
      background-color: $bege

.ui-autocomplete
  width: 200px
  position: absolute
  .ui-menu-item
    overflow: hidden

    &:hover
      background-color: $bege

    a
      width: 100%
      cursor: pointer
      display: block
      float: left
      padding: 5px 0 5px 5px