#user_gender
  display: none

#heard_from_other
  display: none

#vorname
  display: block

.tellus
  line-height: 1.5em

#content
  padding: 36px
  margin-left: 5px  

#user_tab label
  font-family: Sanches-SemiBold
  text-transform: uppercase  