- content_for :content do
  :javascript
    $(document).ready(function(){
      initInfobox();
      initClusterer();
      initSidebar(true);
      
      $(".recipe_link").click(function(){
        clickMarker(marker)
      });
      
      Gmaps.map.callback = function() {
        //Set eventlistener for Marker
        for (var i = 0; i < Gmaps.map.markers.length; ++i) {
          var marker = Gmaps.map.markers[i].serviceObject
          marker.description = Gmaps.map.markers[i].description;
          google.maps.event.addListener(marker, 'click', function(i){
            showRecipeSidebar(this);
          });
        }
        //Set eventlistener for MarkerCluster
        var markerClusterer = Gmaps.map.markerClusterer
        google.maps.event.addListener(markerClusterer, "clusterclick", function (cluster) {
          var markers = cluster.getMarkers();
          showRecipeSidebar(markers);
        });
      }

    });

    $(window).load(function(){
      $('.window-sensitive').css("min-height", $(window).height() - 45);
      positionToggleSidebar(true);

    });

    $(window).resize(function(){
      $('.window-sensitive').css("min-height", $(window).height() - 45);
      positionToggleSidebar();
    });

  .wrapper-haupt.window-sensitive

    = gmaps("markers" => { "data" => @location, "options" => { "do_clustering"=>true, "randomize"=>true, "max_random_distance"=>10, "custom_infowindow_class" => "yellow" } })

    .right-haupt
      #toggle_sidebar
      .seitenleiste.window-sensitive
        .seitenleistecontent
          = content_for?(:sidebar_content) ? yield(:sidebar_content) : yield

= render :template => 'layouts/application'